<!DOCTYPE html>
<html data-ng-app="login">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	
	<script
	src="main.js"></script>
<link href="style.css" rel="stylesheet">
<title>Login</title>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Login Page</a>
			</div>
		</div>
	</nav>
<div class="container main-content" data-ng-controller="loginCtrl">
	<form role="form" data-ng-click="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
	
<!-- 	<div class="form-group">
			<label for="name">Name</label>
			<input type="text"
				   class="form-control" 
				   data-ng-model="formModel.name" 
				   id="name" required>
		</div> -->
		<div class="form-group" data-ng-class="{
		'has-error':!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted),
		'has-success':!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted)
		}">
			<label for="email">Email ID*</label> <input type="email"
				class="form-control" data-ng-model="formModel.email"  name="email" id="email" required>
		<p class="help-block" data-ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
		This field is required</p>
		
			<p class="help-block" data-ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">
		Please enter a valid email address</p>
		
			</div>

		<div class="form-group" data-ng-class="{
		'has-error':!theForm.password.$valid && (!theForm.$pristine || theForm.$submitted),
		'has-success':!theForm.password.$valid && (!theForm.$pristine || theForm.$submitted)
		}">
			<label for="password">Password*</label> <input type="password"
				class="form-control" data-ng-model="formModel.password" id="password" name="password" required>
		<p class="help-block" data-ng-show="theForm.password.$error.required && (!theForm.$pristine || theForm.$submitted)">
		This field is required</p>
		
			<p class="help-block" data-ng-show="theForm.password.$error.epassword && (!theForm.$pristine || theForm.$submitted)">
		Please enter a valid password</p>
		</div>

		<div class="form-group">
			<button class="btn btn-primary" type="submit">LOG IN</button>
		</div>

	</form>
	<!-- <pre>{{ formModel | json}}</pre> -->
</div>
</body>
</html>