.container.main-content{
	
    position: fixed;
    top: 30%;
    left: 40%;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
}

.form-control{
	width: 70%;
}